<nav id="navigation" class="navbar navbar-clear navbar-static-top site-navigation" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="http://support.openbroadcaster.pro">OpenBroadcaster</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="menu nav navbar-nav">
        <li class="menu-item sub-menu"><a href="#">Documentation</a>
	  <ul class="dropdown">
            <li class="active menu-item sub-menu"><a href="http://support.openbroadcaster.pro/gettingStarted.html">Getting Started</a></li>
            <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.pro/Player">Alert Player</a></li>
           <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.pro/Server">Server</a></li> 
          </ul></li>
        <li class="menu-item sub-menu"><a href="#">Workbench</a>
	  <ul class="dropdown">
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.pro/troubleshooting.html">Troubleshooting</a></li>
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.pro/advanced.html">Advanced</a></li> 
	 </ul></li>
        <li class="menu-item sub-menu"><a href="#">QuickStart</a>
	  <ul class="dropdown">
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.pro/basics.html">Basics</a></li>
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.pro/accessories.html">Accessories</a></li>
         </ul></li>
        <li class="menu-item sub-menu"><a href="#">Training</a>
	  <ul class="dropdown">
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.pro/player_training.html">Player</a></li>
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.pro/server_training.html">Server</a></li>
 </ul></li>
	  </ul></



      </ul>
      <ul class="nav navbar-nav navbar-right navbar-social">
        <li><a href="https://github.com/openbroadcaster" title="OpenBroadcaster on GitHub"><i class="fa fa-github"></i> </a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav><!-- /.navbar -->


